:root{
    --white-color: #fff;
    --black-color:#000;
    --light-color:#F1F1F1;
    --hover-color: #CCCCCC;
    --gray-color:#616161;
    --light-gray-color: #9E9E9E;
    --red-color:#F44336;
    --blue-color:#2196F3;
    --green-color:#009688;
    --orange-color:#FF9800;
}